In [1]:
%pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo
  Downloading pymongo-4.6.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.2-py3-none-any.whl.metadata (4.9 kB)
Downloading pymongo-4.6.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 7.0 MB/s eta 0:00:00ta 0:00:01
Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 5.1 MB/s eta 0:00:00ta 0:00:01
DEPRECATION: distro-info 1.1build1 has a non-standard version number. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of distro-info or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo

# Establish connection to MongoDB
client = pymongo.MongoClient("mongodb+srv://chandraknth619:DaHUSIWCxPlj22SG@cluster0.um2ik74.mongodb.net/?retryWrites=true&w=majority")

In [7]:
db=client.get_database("ABCD_School")

In [8]:
list(db.list_collection_names())

['marks']

In [27]:
# insert Record


marks=db['marks']

In [10]:
marks.insert_one({
    "student_name":"ST00000012",
    "english":85,
    "maths":86,
    "physics":96,
    "chemistry":85,
    "biology":84,
    "extra_curricular":{
        "chess":85
    }
})

InsertOneResult(ObjectId('6561904333b8637ab230dd08'), acknowledged=True)

In [11]:
# update a collection

In [13]:
marks.update_one({
    "student_name":"ST00000012"
},
{
    "$set":{"soccer":86
    }
})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000000c6'), 'opTime': {'ts': Timestamp(1700892981, 11), 't': 198}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1700892981, 12), 'signature': {'hash': b'$\xfc~\x85I \x93-\x90\xfa\x1d9<pY\xf7\xee\x10\x84\xe6', 'keyId': 7263192702907318274}}, 'operationTime': Timestamp(1700892981, 11), 'updatedExisting': True}, acknowledged=True)

In [14]:
# deleting a record

In [15]:
marks.delete_one(
    {
        "student_name":"ST00000012"
    }
)

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000000c6'), 'opTime': {'ts': Timestamp(1700893118, 18), 't': 198}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1700893118, 18), 'signature': {'hash': b'r A\x957\xfa\xfeHu\x0c\xa7\xd1\xce\x9fQk\xeb\xba\xde#', 'keyId': 7263192702907318274}}, 'operationTime': Timestamp(1700893118, 18)}, acknowledged=True)

In [17]:
# Bulk records

In [18]:
import random

In [19]:
[
        {
            "student_name":"ST000000"+str(i),
            "english":random.randint(45,99),
            "physics":random.randint(45,99),
            "maths":random.randint(45,99),
            "chemistry":random.randint(45,99),
            "biology":random.randint(45,99),
            "geography":random.randint(45,99),
        }
        for i in range(20,40)

    ]

[{'student_name': 'ST00000020',
  'english': 61,
  'physics': 96,
  'maths': 98,
  'chemistry': 49,
  'biology': 48,
  'geography': 69},
 {'student_name': 'ST00000021',
  'english': 45,
  'physics': 51,
  'maths': 59,
  'chemistry': 62,
  'biology': 48,
  'geography': 76},
 {'student_name': 'ST00000022',
  'english': 75,
  'physics': 84,
  'maths': 89,
  'chemistry': 48,
  'biology': 76,
  'geography': 46},
 {'student_name': 'ST00000023',
  'english': 83,
  'physics': 60,
  'maths': 48,
  'chemistry': 86,
  'biology': 70,
  'geography': 54},
 {'student_name': 'ST00000024',
  'english': 84,
  'physics': 51,
  'maths': 50,
  'chemistry': 52,
  'biology': 51,
  'geography': 65},
 {'student_name': 'ST00000025',
  'english': 45,
  'physics': 57,
  'maths': 66,
  'chemistry': 64,
  'biology': 89,
  'geography': 52},
 {'student_name': 'ST00000026',
  'english': 87,
  'physics': 56,
  'maths': 77,
  'chemistry': 52,
  'biology': 58,
  'geography': 96},
 {'student_name': 'ST00000027',
  'english': 55,
  'physics': 98,
  'maths': 52,
  'chemistry': 90,
  'biology': 77,
  'geography': 50},
 {'student_name': 'ST00000028',
  'english': 70,
  'physics': 81,
  'maths': 86,
  'chemistry': 62,
  'biology': 89,
  'geography': 92},
 {'student_name': 'ST00000029',
  'english': 89,
  'physics': 97,
  'maths': 51,
  'chemistry': 68,
  'biology': 48,
  'geography': 59},
 {'student_name': 'ST00000030',
  'english': 72,
  'physics': 57,
  'maths': 58,
  'chemistry': 66,
  'biology': 47,
  'geography': 88},
 {'student_name': 'ST00000031',
  'english': 81,
  'physics': 95,
  'maths': 54,
  'chemistry': 80,
  'biology': 82,
  'geography': 72},
 {'student_name': 'ST00000032',
  'english': 76,
  'physics': 74,
  'maths': 96,
  'chemistry': 82,
  'biology': 66,
  'geography': 59},
 {'student_name': 'ST00000033',
  'english': 49,
  'physics': 46,
  'maths': 81,
  'chemistry': 98,
  'biology': 97,
  'geography': 54},
 {'student_name': 'ST00000034',
  'english': 64,
  'physics': 90,
  'maths': 68,
  'chemistry': 77,
  'biology': 84,
  'geography': 53},
 {'student_name': 'ST00000035',
  'english': 98,
  'physics': 97,
  'maths': 76,
  'chemistry': 88,
  'biology': 74,
  'geography': 86},
 {'student_name': 'ST00000036',
  'english': 47,
  'physics': 59,
  'maths': 77,
  'chemistry': 69,
  'biology': 83,
  'geography': 82},
 {'student_name': 'ST00000037',
  'english': 62,
  'physics': 52,
  'maths': 65,
  'chemistry': 97,
  'biology': 51,
  'geography': 47},
 {'student_name': 'ST00000038',
  'english': 77,
  'physics': 53,
  'maths': 85,
  'chemistry': 47,
  'biology': 46,
  'geography': 81},
 {'student_name': 'ST00000039',
  'english': 97,
  'physics': 89,
  'maths': 60,
  'chemistry': 45,
  'biology': 87,
  'geography': 51}]

In [20]:
marks.insert_many(
    [
        {
            "student_name":"ST000000"+str(i),
            "english":random.randint(45,99),
            "physics":random.randint(45,99),
            "maths":random.randint(45,99),
            "chemistry":random.randint(45,99),
            "biology":random.randint(45,99),
            "geography":random.randint(45,99),
        }
        for i in range(20,40)

    ]
)

InsertManyResult([ObjectId('6561931f33b8637ab230dd09'), ObjectId('6561931f33b8637ab230dd0a'), ObjectId('6561931f33b8637ab230dd0b'), ObjectId('6561931f33b8637ab230dd0c'), ObjectId('6561931f33b8637ab230dd0d'), ObjectId('6561931f33b8637ab230dd0e'), ObjectId('6561931f33b8637ab230dd0f'), ObjectId('6561931f33b8637ab230dd10'), ObjectId('6561931f33b8637ab230dd11'), ObjectId('6561931f33b8637ab230dd12'), ObjectId('6561931f33b8637ab230dd13'), ObjectId('6561931f33b8637ab230dd14'), ObjectId('6561931f33b8637ab230dd15'), ObjectId('6561931f33b8637ab230dd16'), ObjectId('6561931f33b8637ab230dd17'), ObjectId('6561931f33b8637ab230dd18'), ObjectId('6561931f33b8637ab230dd19'), ObjectId('6561931f33b8637ab230dd1a'), ObjectId('6561931f33b8637ab230dd1b'), ObjectId('6561931f33b8637ab230dd1c')], acknowledged=True)

In [81]:
marks.update_many(
    {
        "maths":{
            "$gt":90
        }
    },
    update={
        "$set":{
            "stronghold":"maths expert"
        }
    }
)

UpdateResult({'n': 12, 'electionId': ObjectId('7fffffff00000000000000c6'), 'opTime': {'ts': Timestamp(1700896841, 37), 't': 198}, 'nModified': 12, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1700896841, 37), 'signature': {'hash': b'u\xe2?LlS~\xe1F:\xe6\x8c\x97\xb0\x1b\xfc\xf4\xd7"]', 'keyId': 7263192702907318274}}, 'operationTime': Timestamp(1700896841, 37), 'updatedExisting': True}, acknowledged=True)

In [22]:
marks.delete_many(
    {}
)

DeleteResult({'n': 25, 'electionId': ObjectId('7fffffff00000000000000c6'), 'opTime': {'ts': Timestamp(1700893855, 32), 't': 198}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1700893855, 32), 'signature': {'hash': b'\xac\xe9\xbc\xdd\x1c\x07\x0c\xfe\xdb94\xc0\xdb\x9a\x07\xc5~/\x0fx', 'keyId': 7263192702907318274}}, 'operationTime': Timestamp(1700893855, 32)}, acknowledged=True)

In [23]:
marks.insert_many(
    [
        {
            "student_name":"ST000000"+str(i),
            "english":random.randint(10,99),
            "physics":random.randint(10,99),
            "maths":random.randint(10,99),
            "chemistry":random.randint(10,99),
            "biology":random.randint(10,99),
            "geography":random.randint(10,99),
        }
        for i in range(100)

    ]
)

InsertManyResult([ObjectId('656194f733b8637ab230dd1d'), ObjectId('656194f733b8637ab230dd1e'), ObjectId('656194f733b8637ab230dd1f'), ObjectId('656194f733b8637ab230dd20'), ObjectId('656194f733b8637ab230dd21'), ObjectId('656194f733b8637ab230dd22'), ObjectId('656194f733b8637ab230dd23'), ObjectId('656194f733b8637ab230dd24'), ObjectId('656194f733b8637ab230dd25'), ObjectId('656194f733b8637ab230dd26'), ObjectId('656194f733b8637ab230dd27'), ObjectId('656194f733b8637ab230dd28'), ObjectId('656194f733b8637ab230dd29'), ObjectId('656194f733b8637ab230dd2a'), ObjectId('656194f733b8637ab230dd2b'), ObjectId('656194f733b8637ab230dd2c'), ObjectId('656194f733b8637ab230dd2d'), ObjectId('656194f733b8637ab230dd2e'), ObjectId('656194f733b8637ab230dd2f'), ObjectId('656194f733b8637ab230dd30'), ObjectId('656194f733b8637ab230dd31'), ObjectId('656194f733b8637ab230dd32'), ObjectId('656194f733b8637ab230dd33'), ObjectId('656194f733b8637ab230dd34'), ObjectId('656194f733b8637ab230dd35'), ObjectId('656194f733b8637ab230dd36'), ObjectId('656194f733b8637ab230dd37'), ObjectId('656194f733b8637ab230dd38'), ObjectId('656194f733b8637ab230dd39'), ObjectId('656194f733b8637ab230dd3a'), ObjectId('656194f733b8637ab230dd3b'), ObjectId('656194f733b8637ab230dd3c'), ObjectId('656194f733b8637ab230dd3d'), ObjectId('656194f733b8637ab230dd3e'), ObjectId('656194f733b8637ab230dd3f'), ObjectId('656194f733b8637ab230dd40'), ObjectId('656194f733b8637ab230dd41'), ObjectId('656194f733b8637ab230dd42'), ObjectId('656194f733b8637ab230dd43'), ObjectId('656194f733b8637ab230dd44'), ObjectId('656194f733b8637ab230dd45'), ObjectId('656194f733b8637ab230dd46'), ObjectId('656194f733b8637ab230dd47'), ObjectId('656194f733b8637ab230dd48'), ObjectId('656194f733b8637ab230dd49'), ObjectId('656194f733b8637ab230dd4a'), ObjectId('656194f733b8637ab230dd4b'), ObjectId('656194f733b8637ab230dd4c'), ObjectId('656194f733b8637ab230dd4d'), ObjectId('656194f733b8637ab230dd4e'), ObjectId('656194f733b8637ab230dd4f'), ObjectId('656194f733b8637ab230dd50'), ObjectId('656194f733b8637ab230dd51'), ObjectId('656194f733b8637ab230dd52'), ObjectId('656194f733b8637ab230dd53'), ObjectId('656194f733b8637ab230dd54'), ObjectId('656194f733b8637ab230dd55'), ObjectId('656194f733b8637ab230dd56'), ObjectId('656194f733b8637ab230dd57'), ObjectId('656194f733b8637ab230dd58'), ObjectId('656194f733b8637ab230dd59'), ObjectId('656194f733b8637ab230dd5a'), ObjectId('656194f733b8637ab230dd5b'), ObjectId('656194f733b8637ab230dd5c'), ObjectId('656194f733b8637ab230dd5d'), ObjectId('656194f733b8637ab230dd5e'), ObjectId('656194f733b8637ab230dd5f'), ObjectId('656194f733b8637ab230dd60'), ObjectId('656194f733b8637ab230dd61'), ObjectId('656194f733b8637ab230dd62'), ObjectId('656194f733b8637ab230dd63'), ObjectId('656194f733b8637ab230dd64'), ObjectId('656194f733b8637ab230dd65'), ObjectId('656194f733b8637ab230dd66'), ObjectId('656194f733b8637ab230dd67'), ObjectId('656194f733b8637ab230dd68'), ObjectId('656194f733b8637ab230dd69'), ObjectId('656194f733b8637ab230dd6a'), ObjectId('656194f733b8637ab230dd6b'), ObjectId('656194f733b8637ab230dd6c'), ObjectId('656194f733b8637ab230dd6d'), ObjectId('656194f733b8637ab230dd6e'), ObjectId('656194f733b8637ab230dd6f'), ObjectId('656194f733b8637ab230dd70'), ObjectId('656194f733b8637ab230dd71'), ObjectId('656194f733b8637ab230dd72'), ObjectId('656194f733b8637ab230dd73'), ObjectId('656194f733b8637ab230dd74'), ObjectId('656194f733b8637ab230dd75'), ObjectId('656194f733b8637ab230dd76'), ObjectId('656194f733b8637ab230dd77'), ObjectId('656194f733b8637ab230dd78'), ObjectId('656194f733b8637ab230dd79'), ObjectId('656194f733b8637ab230dd7a'), ObjectId('656194f733b8637ab230dd7b'), ObjectId('656194f733b8637ab230dd7c'), ObjectId('656194f733b8637ab230dd7d'), ObjectId('656194f733b8637ab230dd7e'), ObjectId('656194f733b8637ab230dd7f'), ObjectId('656194f733b8637ab230dd80')], acknowledged=True)

In [24]:
# assign total marks

marks.update_many({
},
{
    "$set":{
        "total_marks":{
            "$add":["$english","$maths","$physics","$chemistry","$biology"]
        }
    }
}
)

UpdateResult({'n': 100, 'electionId': ObjectId('7fffffff00000000000000c6'), 'opTime': {'ts': Timestamp(1700894219, 127), 't': 198}, 'nModified': 100, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1700894219, 127), 'signature': {'hash': b'\x04JFr\xe7\xef\xba&\x05\x1c\xb7,\xb1;%\xd3=1;\xf3', 'keyId': 7263192702907318274}}, 'operationTime': Timestamp(1700894219, 127), 'updatedExisting': True}, acknowledged=True)

In [25]:
# 
import pandas as pd

In [52]:
marksDF=pd.read_csv("marks_table.csv")

In [53]:
marksDF=marksDF[["student_id","english","maths","physics","chemistry","biology"]]

In [54]:
marksDF["student_name"]="ST000002"+marksDF['student_id'].astype(str)

In [55]:
marksDF=marksDF.loc[marksDF['english'].notnull()]

In [56]:
marksDF

   student_id  english  maths  physics  chemistry  biology student_name
0           1     78.0   85.0     61.0       35.0     94.0    ST0000021
1           2     69.0   41.0     47.0       68.0     63.0    ST0000022
2           3     62.0   63.0     57.0       65.0     62.0    ST0000023
3           4     88.0   50.0     43.0       81.0     68.0    ST0000024
4           5     48.0   58.0     58.0       38.0     64.0    ST0000025
5           6     74.0   35.0     61.0       37.0     50.0    ST0000026
6           7     63.0   90.0     50.0       55.0     77.0    ST0000027

In [57]:
marksBulkRecord=marksDF.drop(columns=["student_id"],axis=1).to_dict(
    orient='records'
)

In [58]:
marksBulkRecord

[{'english': 78.0,
  'maths': 85.0,
  'physics': 61.0,
  'chemistry': 35.0,
  'biology': 94.0,
  'student_name': 'ST0000021'},
 {'english': 69.0,
  'maths': 41.0,
  'physics': 47.0,
  'chemistry': 68.0,
  'biology': 63.0,
  'student_name': 'ST0000022'},
 {'english': 62.0,
  'maths': 63.0,
  'physics': 57.0,
  'chemistry': 65.0,
  'biology': 62.0,
  'student_name': 'ST0000023'},
 {'english': 88.0,
  'maths': 50.0,
  'physics': 43.0,
  'chemistry': 81.0,
  'biology': 68.0,
  'student_name': 'ST0000024'},
 {'english': 48.0,
  'maths': 58.0,
  'physics': 58.0,
  'chemistry': 38.0,
  'biology': 64.0,
  'student_name': 'ST0000025'},
 {'english': 74.0,
  'maths': 35.0,
  'physics': 61.0,
  'chemistry': 37.0,
  'biology': 50.0,
  'student_name': 'ST0000026'},
 {'english': 63.0,
  'maths': 90.0,
  'physics': 50.0,
  'chemistry': 55.0,
  'biology': 77.0,
  'student_name': 'ST0000027'}]

In [59]:
marks.insert_many( 
    marksBulkRecord
)

InsertManyResult([ObjectId('65619b3f33b8637ab230dd81'), ObjectId('65619b3f33b8637ab230dd82'), ObjectId('65619b3f33b8637ab230dd83'), ObjectId('65619b3f33b8637ab230dd84'), ObjectId('65619b3f33b8637ab230dd85'), ObjectId('65619b3f33b8637ab230dd86'), ObjectId('65619b3f33b8637ab230dd87')], acknowledged=True)

In [60]:
# Run Queries And Get Records

In [70]:
retObj=marks.find(
   { "student_name":"ST0000027"}
)

In [71]:
list(retObj)

[{'_id': ObjectId('65619b3f33b8637ab230dd87'),
  'english': 63.0,
  'maths': 90.0,
  'physics': 50.0,
  'chemistry': 55.0,
  'biology': 77.0,
  'student_name': 'ST0000027'}]

In [79]:
retBulk=marks.find(
    {
        "maths":{"$gt":75}
    },
    {
        "student_name":1,
        "maths":1
    }
).sort("maths",pymongo.DESCENDING)

In [80]:
list(retBulk)

[{'_id': ObjectId('656194f733b8637ab230dd48'),
  'student_name': 'ST00000043',
  'maths': 98},
 {'_id': ObjectId('656194f733b8637ab230dd54'),
  'student_name': 'ST00000055',
  'maths': 98},
 {'_id': ObjectId('656194f733b8637ab230dd6e'),
  'student_name': 'ST00000081',
  'maths': 98},
 {'_id': ObjectId('656194f733b8637ab230dd7d'),
  'student_name': 'ST00000096',
  'maths': 98},
 {'_id': ObjectId('656194f733b8637ab230dd52'),
  'student_name': 'ST00000053',
  'maths': 97},
 {'_id': ObjectId('656194f733b8637ab230dd21'),
  'student_name': 'ST0000004',
  'maths': 96},
 {'_id': ObjectId('656194f733b8637ab230dd31'),
  'student_name': 'ST00000020',
  'maths': 95},
 {'_id': ObjectId('656194f733b8637ab230dd22'),
  'student_name': 'ST0000005',
  'maths': 93},
 {'_id': ObjectId('656194f733b8637ab230dd6d'),
  'student_name': 'ST00000080',
  'maths': 92},
 {'_id': ObjectId('656194f733b8637ab230dd7e'),
  'student_name': 'ST00000097',
  'maths': 92},
 {'_id': ObjectId('656194f733b8637ab230dd32'),
  'student_name': 'ST00000021',
  'maths': 91},
 {'_id': ObjectId('656194f733b8637ab230dd42'),
  'student_name': 'ST00000037',
  'maths': 91},
 {'_id': ObjectId('656194f733b8637ab230dd45'),
  'student_name': 'ST00000040',
  'maths': 90},
 {'_id': ObjectId('65619b3f33b8637ab230dd87'),
  'maths': 90.0,
  'student_name': 'ST0000027'},
 {'_id': ObjectId('656194f733b8637ab230dd23'),
  'student_name': 'ST0000006',
  'maths': 88},
 {'_id': ObjectId('656194f733b8637ab230dd59'),
  'student_name': 'ST00000060',
  'maths': 88},
 {'_id': ObjectId('656194f733b8637ab230dd34'),
  'student_name': 'ST00000023',
  'maths': 87},
 {'_id': ObjectId('656194f733b8637ab230dd5c'),
  'student_name': 'ST00000063',
  'maths': 86},
 {'_id': ObjectId('656194f733b8637ab230dd4c'),
  'student_name': 'ST00000047',
  'maths': 85},
 {'_id': ObjectId('65619b3f33b8637ab230dd81'),
  'maths': 85.0,
  'student_name': 'ST0000021'},
 {'_id': ObjectId('656194f733b8637ab230dd58'),
  'student_name': 'ST00000059',
  'maths': 84},
 {'_id': ObjectId('656194f733b8637ab230dd2e'),
  'student_name': 'ST00000017',
  'maths': 83},
 {'_id': ObjectId('656194f733b8637ab230dd76'),
  'student_name': 'ST00000089',
  'maths': 82},
 {'_id': ObjectId('656194f733b8637ab230dd60'),
  'student_name': 'ST00000067',
  'maths': 81},
 {'_id': ObjectId('656194f733b8637ab230dd49'),
  'student_name': 'ST00000044',
  'maths': 80},
 {'_id': ObjectId('656194f733b8637ab230dd4d'),
  'student_name': 'ST00000048',
  'maths': 80},
 {'_id': ObjectId('656194f733b8637ab230dd75'),
  'student_name': 'ST00000088',
  'maths': 79},
 {'_id': ObjectId('656194f733b8637ab230dd43'),
  'student_name': 'ST00000038',
  'maths': 78},
 {'_id': ObjectId('656194f733b8637ab230dd50'),
  'student_name': 'ST00000051',
  'maths': 78}]

In [86]:
# aggregation


result=marks.aggregate(
    [
        {"$group": {
        "_id": "stronghold",  
        "total_maths_marks": {"$sum": "$maths"} 
    }}
    ]
)

In [87]:
list(result)

[{'_id': 'stronghold', 'total_maths_marks': 6046.0}]