# Data Types

- String
- Integer
- Float
- Boolean

In [1]:
# String

print('Hello World')

Hello World

In [3]:
print("Hello World !!!")

Hello World !!!

In [4]:
a='''
This is Python-SQL-NoSQL course conducted over 3 weekends.
Each week 8 hours of classes will be conducted.
'''

In [6]:
print(a)

This is Python-SQL-NoSQL course conducted over 3 weekends.
Each week 8 hours of classes will be conducted.

In [9]:
b="This is Python-SQL-NoSQL course conducted over 3 weekends. \
Each week 8 hours of classes will be conducted."

In [10]:
# Integer

u=12

v=45

In [11]:
# Float

n=56.656

u=87.98

In [12]:
# Boolean

t=True

v=False

In [13]:
unknownVal="Hello World"

In [14]:
type(unknownVal)

str

In [15]:
b=12.65 # float

n=36 # int

In [16]:
b+n

48.65

In [17]:
b/n

0.3513888888888889

In [19]:
n/6

6.0

In [20]:
b/12.21

1.036036036036036

In [22]:
"Hello"+" World"

'Hello World'

In [23]:
"Hello"*3

'HelloHelloHello'

In [24]:
place='I live in chennai'

In [25]:
# index method of substring retrieval

In [28]:
# Forward index

print(place[0])

print(place[5])

I
e

In [30]:
# Reverse index

print(place[-1])

print(place[-7])

i
c

In [31]:
# String Slicing

In [33]:
place[10:16]

'chenna'

In [34]:
place[16]

'i'

In [36]:
# Slicing using reverse index

place[-7:]

'chennai'

In [37]:
place

'I live in chennai'

In [39]:
'i live in chennai'.capitalize()

'I live in chennai'

In [41]:
place.casefold()

'i live in chennai'

In [42]:
"CHENNAI".casefold()

'chennai'

In [43]:
"CHENNAI".lower()

'chennai'

In [44]:
place

'I live in chennai'

In [45]:
place.upper()

'I LIVE IN CHENNAI'

In [49]:
m="My mobile num is 7830488850"

In [54]:
u='one1'

In [56]:
u.isalnum()

True

In [57]:
m.isalnum()

False

In [58]:
m=m.replace(" ","")

In [60]:
m.isalnum()

True

In [63]:
b='76'

In [64]:
b.isnumeric()

True

In [68]:
place.lower().islower()

True

In [69]:
place.isupper()

False

In [70]:
place.title()

'I Live In Chennai'

In [73]:
"788".isdecimal()

True

In [74]:
"78.98".isdigit()

False

In [77]:
# inbuilt function-2
float('78.87')

78.87

In [78]:
int('76')

76

In [79]:
float(78)

78.0

In [80]:
int(56.5)

56

In [83]:
type(78.76)

float

In [84]:
a="Apple is a fruit"

In [85]:
a.lower()

'apple is a fruit'

In [86]:
a.upper()

'APPLE IS A FRUIT'

In [87]:
# Boolean Datatype

In [94]:
# And Operations

True & False

True and False

False

In [93]:
# Or Operations

True or False

True | False

True

In [95]:
True and True

True

In [96]:
True and False

False

In [97]:
True or True

True

In [98]:
True or False

True

In [99]:
True and True and True and False

False

In [100]:
False or False or False or True

True